.idea
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

/_excluded

/http/build
/http/build.index.html
/http/node_modules
/http/package-lock.json

/template/build
/template/build.index.html
/template/lib
/template/node_modules
/template/package-lock.json
/template/http.ts

/datepicker/build
/datepicker/build.index.html
/datepicker/lib
/datepicker/node_modules
/datepicker/package-lock.json
/datepicker/http.ts
/datepicker/pure.d.ts

/loader/build
/loader/build.index.html
/loader/lib
/loader/node_modules
/loader/package-lock.json
/loader/http.ts
/loader/model

/webcomponent/build
/webcomponent/build.index.html
/webcomponent/build.port
/webcomponent/lib
/webcomponent/node_modules
/webcomponent/package-lock.json
/webcomponent/http.ts
/webcomponent/pure.d.ts
/webcomponent/template.ts

/store/build
/store/build.index.html
/store/build.port
/store/lib
/store/node_modules
/store/package-lock.json
/store/openport.sh
/store/vuex

