---
title: "Template"
date: 2022-09-25T17:50:12+02:00
draft: false
---

<section x-data class="section">
  <div id="root" class="container">
    <p class="subtitle">
      Click the links below to render templates
    </p>
    <p class="subtitle">
      Also see <a href="../web-components/">web-components</a>
    </p>

    <div class="block">
      <ul>
        <li><a href="javascript:" x-on:click="app.examples.template.appendFromPage()">
            Template</a></li>
        <li><a href="javascript:" x-on:click="app.examples.template.appendFromFile()">
            Load template from file</a></li>
      </ul>
    </div>
  </div>
</section>

<template id="my-paragraph-template">
  <!-- A style tag here (when not using Shadow DOM)
        affect elements in the rest of the page too -->
  <style>
    p.subtitle,
    p,
    div.box {
      color: Tan;
      background-color: DarkSlateGray;
    }
  </style>
  <div class="block">
    <div class="box">
      <p class="subtitle">
        Template style tags affect the rest of the page
      </p>
    </div>
  </div>
</template>
