<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/images/favicon_io/favicon.ico">
  <link rel="apple-touch-icon" href="/images/favicon_io/apple-touch-icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>templates</title>
  <link rel="stylesheet" href="../../dist/app.css">
</head>

<body>
  <div x-data class="w3-container">
    <h3>
      <a href="https://github.com/mozey/ts/tree/main/src/template#readme">
        Template Examples</a>
    </h3>
    <p>
      Click the links below to render templates
    </p>
    <p>
      Also see <a href="/examples/templates/web-components.html">web-components</a>
    </p>
    <ul>
      <li><a href="javascript:" x-on:click="app.examples.template.appendFromPage()">
          Template</a></li>
      <li><a href="javascript:" x-on:click="app.examples.template.appendFromFile()">
          Load template from file</a></li>
    </ul>
  </div>

  <template id="my-paragraph">
    <!-- A style tag here (when not using Shadow DOM)
        affect elements in the rest of the page too -->
    <style>
      p {
        color: Tan;
        background-color: DarkSlateGray;
      }
    </style>
    <div class="w3-container">
      <p class="w3-padding-small">
        Template style tags affect the rest of the page</p>
    </div>
  </template>

  <script src="../../dist/app.js"></script>
</body>

</html>