<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>examples/templates</title>
  <link rel="stylesheet" href="/dist/app.css">
</head>

<body>
  <div x-data class="w3-container">
    <h3>
      <a href="https://github.com/mozey/ts/tree/main/src/template#readme">
        Template Examples</a>
    </h3>
    <p>
      Click the links below to render templates,
      and view the logs in the
      <a href="https://www.w3schools.com/js/js_debugging.asp">Dev Console</a>
    </p>
    <ul>
      <li><a href="javascript:" x-on:click="examples.template.template()">
          Template</a></li>
      <li><a href="javascript:" x-on:click="examples.template.shadowDOM()">
          Shadow DOM</a></li>
    </ul>
  </div>

  <template id="my-paragraph">
    <!-- A style tag here (like the Shadow DOM example below)
        would affect elements in the the rest of the page -->
    <div class="w3-container">
      <p>My paragraph</p>
    </div>
  </template>

  <template id="my-paragraph-sd">
    <!-- Using Shadow DOM the styles below is contained in the component -->
    <style>
      p {
        color: white;
        background-color: #666;
        padding: 5px;
      }
    </style>
    <div class="w3-container">
      <p>My paragraph</p>
    </div>
  </template>

  <script src="/dist/app.js"></script>
</body>

</html>