{{ define "main" }}
<!-- TODO This must not be part of the theme,
    moving it to www/content causes www/content/examples to not render, why? -->
<section x-data class="section">
  <div class="container">
    <h1 class="title" x-text="$store.data.header">&nbsp;</h1>

    <p>&nbsp;</p>

    <p class="subtitle">
      Click the links below for examples,
      and remember to view logs in the
      <a href="https://www.w3schools.com/js/js_debugging.asp">Dev Console</a>
    </p>

    <div class="block">
      <ul>
        <li><a href="./examples/http/">HTTP Client</a></li>
      </ul>
      <ul>
        <li><a href="./examples/templates/">Templates</a></li>
      </ul>
      <ul>
        <li><a href="./examples/web-components/">
            Web Components</a></li>
      </ul>
      <ul>
        <li><a href="./examples/vuejs/">
            VueJS Component</a></li>
      </ul>
      <ul>
        <li><a href="./examples/svelte/">
            Svelte Component</a></li>
      </ul>
      <ul>
        <li><a href="./examples/preact/">
            Preact Component</a></li>
      </ul>
      <ul>
        <li><a href="./examples/datepicker/">Date picker</a></li>
      </ul>
      <ul>
        <li><a href="./examples/wasm-tinygo/">WASM with TinyGo</a></li>
      </ul>
    </div>
  </div>
</section>
{{ end }}
